ссылка на *.tsv = https://disk.yandex.ru/d/JdsZ8_uQyhktYA
получить url файла




https://downloader.disk.yandex.ru/disk/fa4a25ee0d7021af72af474d6209698293e3ade10eb05d819f2ba1053914f2ef/69416e8f/75vEtiuygSnLvjzw3Nv93o8cK5nOnYTNiadXlxp6v9qXYMbEQp5UTuN75-8Msc7KNm2pJyjDQbB7I-dgTjDt8A%3D%3D?uid=0&filename=data.tsv&disposition=attachment&hash=uvJ8nHNKhOKci2DS084MGtdCH8ONUkwyyWemC6AA/9C9taFAtnUrGgSoAJDTPuYtq/J6bpmRyOJonT3VoXnDag%3D%3D&limit=0&content_type=text%2Fplain&owner_uid=1962658021&fsize=52530408&hid=552f79840927c9348ce9e37e8a447bcf&media_type=data&tknv=v3

In [8]:
import pandas as pd

# Вставьте сюда прямую ссылку на скачивание
direct_url = "https://downloader.disk.yandex.ru/disk/fa4a25ee0d7021af72af474d6209698293e3ade10eb05d819f2ba1053914f2ef/69416e8f/75vEtiuygSnLvjzw3Nv93o8cK5nOnYTNiadXlxp6v9qXYMbEQp5UTuN75-8Msc7KNm2pJyjDQbB7I-dgTjDt8A%3D%3D?uid=0&filename=data.tsv&disposition=attachment&hash=uvJ8nHNKhOKci2DS084MGtdCH8ONUkwyyWemC6AA/9C9taFAtnUrGgSoAJDTPuYtq/J6bpmRyOJonT3VoXnDag%3D%3D&limit=0&content_type=text%2Fplain&owner_uid=1962658021&fsize=52530408&hid=552f79840927c9348ce9e37e8a447bcf&media_type=data&tknv=v3"

# Загрузка TSV
df = pd.read_csv(direct_url, sep='\t', header=None, names=['query', 'timestamp', 'device'])

# Показать первые строки
df.head()

                  query   timestamp   device
0       малевич картины  1631806465  desktop
1            психология  1631781583    touch
2  с днём рождения лена  1631771563    touch
3     зверополис фильмы  1631787599    touch
4    алабай собака фото  1631786645    touch

In [7]:
from datetime import timezone
import zoneinfo  # Python 3.9+
df['datetime'] = (
    pd.to_datetime(df['timestamp'], unit='s', utc=True)
    .dt.tz_convert('Europe/Moscow')
)
df.head()

                  query   timestamp   device                  datetime
0       малевич картины  1631806465  desktop 2021-09-16 18:34:25+03:00
1            психология  1631781583    touch 2021-09-16 11:39:43+03:00
2  с днём рождения лена  1631771563    touch 2021-09-16 08:52:43+03:00
3     зверополис фильмы  1631787599    touch 2021-09-16 13:19:59+03:00
4    алабай собака фото  1631786645    touch 2021-09-16 13:04:05+03:00